################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WebApiTest/.vs/ePortalApi/v16/Server/sqlite3/db.lock
